# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# development stuff
.coverage
.coveragerc
projdocs*
.sessionrc
*.session

#backups
.gitignore~
bin-scripts.conf~

# miscellaneous
mdi.py
*vivaldi*

# scripts present in bin-scripts.conf
cssedit
afrift
albums
albumsgui
a-propos
comparer
csvhelper
dt_print
hotkeys
htmledit
lint-all
lintergui
lint-this
lminstreloc
mdview
modreader
notetree
nt2ext
probreg
rstview
sdv-modman
treedocs
viewhtml
viewxml
vless
xmledit
calc
mdi
wing
2panefm
appstart
bigterm
bstart
hotrefs
hotstuff
lstart
open-reader
peditl
peditlr
peditml
peditmr
peditr
prshell
pycheck
repocheck
repopush
start-gaming
start-servers
stop-servers
t-ed
vstable
vstart
webrefs
cgit
comparer_from_dc
dc4sdv
gitweb
pfind
preadme
tickets
viref
widevi
doctree
flarden
gamestuff
iview
modcompare
ramble
scratch_pad
totalcmd
vi-get-runtime
diary
pfind-all
pfind-prog
pfind-test

teditl
teditlr
teditml
teditmr
teditr
repolog

readme
repotestfail
repoteststats
start-gaming-native
wstart
repotesterr
rreadme
jsonp
jsonv
popup
start-session
end-session
tview
count-locs
